extends layout.pug

block content
    div.main-width
        script.
            var orgId = '#{orgId}'
            console.log('orgid:',orgId)
        script(type="module").
            import '/assets/components/organization.js'
        <organization-panel>
        


