extends layout.pug

block content
    div.main-width
        <div class="container px-4 py-5 my-5 text-center">
            <h1 class="fw-bold mb-5">Request a token for your property</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4"><b>If you are the owner of of a property you can request to tokenise the asset allowing you to trade the token on live marketplaces</b></p>
                //- <p class="lead mb-4"><b>You will need to prove your identity and your ownership of the property in order to be issued with a token</b></p>
                <a href="/title"><button type="button" class="btn btn-success">Start Now</button></a>
            </div>
        </div>


